
body {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
}

select {
    width: 110px;
    height: 21px;
    opacity: 90%;
}

button {
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

h1 {
    font-size: 30px !important;
}

input {
    display: block;
    width: 110px;
}